<div class="container mx-auto" style="width: 600px">
<header class="border-bottom pb-2 mb-5 mt-5">
  <h1 class="m-0">タスク編集</h1>
</header>
<%= render 'form', task: @task %>
<%= link_to 'Show', @task %> |
<%= link_to 'Back', tasks_path %>
</div>
