<div class="container text-center mt-5">
  <a href="/tasks"><img src="/assets/AdobeStock_213713637-1-scaled.webp" width="600"></a>
  <h1 class="mb-4 mt-4">プロティン!</h1>
  <h3>ダイエット中に接収すべきタンパク質が豊富な<br>
  商品を手軽に調べられるアプリです。<br>
  コンビニに売っている商品をメインに紹介します。</h3>
  <h2 class="pt-4"><%= link_to "入る", tasks_path, class: "btn btn-primary" %> | <%= link_to "出る", "https://www.yahoo.co.jp/", class: "btn btn-primary" %></h2>
</div>

