<div class="container text-center mt-5">
<h1 class="mb-4">Yay! You`re on protein!</h1>
<a href="/tasks"><img src="/assets/AdobeStock_213713637-1-scaled.webp" width="600"></a>
<h2 class="pt-4"><%= link_to "ENTER", tasks_path %></h2>
</div>